<footer id="footer" class="footer">
    <div class="footer-container container">
        <div class="footer-container-inner">
            <div class="row">
                <div class="col-lg-3 br-bottom-md">
                    <div class="footer-child">
                        <div class="footer-logo footer-title">
                            <a href="">
                                <img src="~/uploads/logo/CSE_logo-white.png" alt="">
                            </a>
                        </div>
                        <div class="br-bottom-xs">
                            <ul>
                                <li class="footer-addr">
                                    <a href="https://goo.gl/maps/PWn5CuawF1dYYD9U8" target="_blank">
                                        Nhà C1 <br>Đại học Thủy Lợi
                                        <br>175 Tây Sơn, Trung Liệt, Đống Đa, Hà Nội
                                    </a>
                                </li>
                                <li class="footer-phone">
                                    <a href="tel:(+84)-024 3 5632211">(+84)-024 3 5632211</a>
                                </li>
                                <li class="footer-email">
                                    <a href="mailto:vpkcntt@tlu.edu.vn">vpkcntt@tlu.edu.vn</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 px-20">
                    <div class="footer-title br-bottom">
                        <h5>Môi trường giáo dục</h5>
                    </div>
                    <div class="footer-detail">
                        <ul>
                            <li>
                                <a asp-controller="EduProgram" asp-action="Index">Đào tạo</a>
                            </li>
                            <li>
                                <a asp-controller="EduProgram" asp-action="Index">Mô hình đào tạo</a>
                            </li>
                            <li>
                                <a asp-controller="EduProgram" asp-action="Index">Đào tạo đại học</a>
                            </li>
                            <li>
                                <a asp-controller="EduProgram" asp-action="Index">Định hướng ngành nghề</a>
                            </li>
                            <li>
                                <a asp-controller="EduProgram" asp-action="Index">Đào tạo sau đại học</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 px-20">
                    <div class="footer-title br-bottom">
                        <h5>Khoa học công nghệ</h5>
                    </div>
                    <div class="footer-detail">
                        <ul>
                            <li>
                                <a asp-controller="ScienceAndTechnology" asp-action="Index">Nghiên cứu khoa học</a>
                            </li>
                            <li>
                                <a asp-controller="ScienceAndTechnology" asp-action="Index">Công trình công bố</a>
                            </li>
                            <li>
                                <a asp-controller="ScienceAndTechnology" asp-action="Index">Các đề tài, dự án</a>
                            </li>
                            <li>
                                <a asp-controller="ScienceAndTechnology" asp-action="Index">Các phòng thí nghiệm</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 px-20">
                    <div class="footer-title br-bottom">
                        <h5>Cơ cấu tổ chức</h5>
                    </div>
                    <div class="footer-detail">
                        <ul>
                            <li>
                                <a asp-controller="Intro" asp-action="OrganizationalStructure">Bộ môn Công nghệ phần
                                    mềm</a>
                            </li>
                            <li>
                                <a asp-controller="Intro" asp-action="OrganizationalStructure">Bộ môn Hệ thống thông
                                    tin</a>
                            </li>
                            <li>
                                <a asp-controller="Intro" asp-action="OrganizationalStructure">Bộ môn Mạng và An
                                    toàn thông tin</a>
                            </li>
                            <li>
                                <a asp-controller="Intro" asp-action="OrganizationalStructure">Bộ môn Tin học và Kỹ
                                    thuật tính toán</a>
                            </li>
                            <li>
                                <a asp-controller="Intro" asp-action="OrganizationalStructure">Bộ môn Trí tuệ nhân
                                    tạo</a>
                            </li>
                            <li>
                                <a asp-controller="Intro" asp-action="OrganizationalStructure">Bộ môn Toán học</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>