@{
    ViewData["Title"] = "Hoạt động sinh viên";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="block-article">
    <div class="block-article-header">
        <h5 class="article-header-title title-style-2">
            Hoạt động sinh viên
        </h5>
    </div>
    <div class="block-article-content">
        <ul class="list-article row">
            <li class="list-article-item col-md-6">
                <div class="card-content">
                    <div class="card-content-img">
                        <a href="#">
                            <img class="card-content-img-a" src="~/uploads/hanhtrinhmaitruong.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-content-title">
                        <div class="card-content-title-top">
                            <span class="card-content-tille-top-span">
                                12/12/2018 1:20/17
                            </span>
                        </div>
                        <div class="card-content-title-bottom">
                            <a class="card-content-title-bottom-a" href="" rel="tag">
                                Lịch tuần 08 khoa CNTT năm học 2018-2019
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-article-item col-md-6">
                <div class="card-content">
                    <div class="card-content-img">
                        <a href="#">
                            <img class="card-content-img-a" src="~/uploads/hanhtrinhmaitruong.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-content-title">
                        <div class="card-content-title-top">
                            <span class="card-content-tille-top-span">
                                12/12/2018 1:20/17
                            </span>
                        </div>
                        <div class="card-content-title-bottom">
                            <a class="card-content-title-bottom-a" href="" rel="tag">
                                Lịch tuần 08 khoa CNTT năm học 2018-2019
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-article-item col-md-6">
                <div class="card-content">
                    <div class="card-content-img">
                        <a href="#">
                            <img class="card-content-img-a" src="~/uploads/hanhtrinhmaitruong.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-content-title">
                        <div class="card-content-title-top">
                            <span class="card-content-tille-top-span">
                                12/12/2018 1:20/17
                            </span>
                        </div>
                        <div class="card-content-title-bottom">
                            <a class="card-content-title-bottom-a" href="" rel="tag">
                                Lịch tuần 08 khoa CNTT năm học 2018-2019
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>