@{
    Layout = null;
}

<div id="card-container" class="card-layout">
    <div id="password-reset-otp-div">
        <div class="header__content ">
            <h1 class="header__content__heading">
                Quên mật khẩu?
            </h1>
            <p class="header__content__subheading">
                Đặt lại mật khẩu trong hai bước nhanh chóng
            </p>
        </div>
        <div class="content__body">
            <form id="reset-password-form" asp-controller="Checkpoint" asp-action="" method="post" class="reset__password__form" novalidate="">

                <input name="csrfToken" value="ajax:3229678102708533217" type="hidden">

                <input name="pageInstance" value="urn:li:page:checkpoint_rp_request_password_reset_default;Y0HLFEN2S0ah53DFQvH55Q==" type="hidden">
                <!---->
                <div class="form__content ">

                    <div id="nonfastrack" class="non__fastrack form__input--floating mt-24 ">
                        <input name="userName" id="username" aria-describedby="user-name-error" autocomplete="email tel" autofocus="" autocorrect="off" spellcheck="false" validation="username" value="wilsonkylerkl@gmail.com" maxlength="128" class="" required="" aria-required="true" validation-message="Please enter your email or phone" type="text">
                        <label class="form__label--floating" for="userName" aria-hidden="true">
                            Email
                        </label>
                        <div id="user-name-error" error-for="userName" class="form__label--error hidden" role="alert" aria-live="assertive">
                        </div>
                    </div>
                    <input name="fp_data" value="default" id="fp-data-resetPassword" type="hidden">
                    <input name="apfc" value="{}" id="apfc-resetPassword" type="hidden">
                    <!---->
                </div>

                <div class="form__action ">
                    <button class="form__submit" id="reset-password-submit-button" data-litms-control-urn="reset_password_find_account" type="submit">
                        Reset password
                    </button>
                    <div class="alternate-signin-container">
                        <div id="or-separator" class="or-separator mt-12 hidden">
                            <span class="or-text">or</span>
                        </div>
                        <!---->
                    </div>
                    <a href="/checkpoint/lg/login?trk=reset_password" id="back-button-password-reset" class="back_button" aria-label="Back" role="button">
                        Back
                    </a>
                </div>
            </form>
            <!---->
        </div>
    </div>
    <!---->
</div>