@model Account

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./sites/default/files/favicon.ico" />
    <title>Đặt lại mật khẩu</title>
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
    <link rel="stylesheet" href="~/lib/fontawesome/fontawesome5/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/general_theme/css/alter.css" asp-append-version="true">
    <link rel="stylesheet" href="~/user_theme/css/template.css" asp-append-version="true">
    <link rel="stylesheet" href="~/user_theme/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/user_theme/css/responsive.css" asp-append-version="true">
    @* Javascript *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body style="background-image: url('/uploads/bg_signin.jpg');background-size: cover; display: grid;place-items: center; background-size: cover;">
    <form class="form" id="resetpassword-form" action="" method="POST" >
        <h5>Đổi mật khẩu</h5>
        @if(ViewBag.SuccessUpdatePassword is not null)
        {
            <p class="text-success">@ViewBag.SuccessUpdatePassword</p>
        }
        <div class="form-group pass_show">
            <input asp-for="Password" type="password" class="form-input" placeholder="Mật khẩu" id="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Phải chứa ít nhất một số, một chữ hoa, một ký tự đặc biệt, chữ thường, không dấu và ít nhất 8 ký tự trở lên" required>
            <span class="form-input-icon err">
                <i class="bx bx-error-circle"></i>
            </span>
            <span class="form-input-icon success">
                <i class="bx bx-check-circle"></i>
            </span>
            <span class="form-input-err-msg" data-err-for="password"></span>    
            @if(ViewBag.PasswordError is not null)
            {
            <span class="text-danger">@ViewBag.PasswordError</span>
            }
        </div>
        <div class="form-group pass_show">
            <input asp-for="ConfirmPassword" type="password" class="form-input" placeholder="Xác nhận mật khẩu" id="retype_password" onblur="validate()" required>
            <span class="form-input-icon err">
                <i class="bx bx-error-circle"></i>
            </span>
            <span class="form-input-icon success">
                <i class="bx bx-check-circle"></i>
            </span>
            <span class="form-input-err-msg" data-err-for="retype_password"></span>
            @if(ViewBag.ConfirmPasswordError is not null)
            {
            <span class="text-danger">@ViewBag.ConfirmPasswordError</span>
            }
            <a href="/Admin/Login/Index" class="back_button" aria-label="Back" role="button">
                Quay lại
            </a>
        </div>
        <button class="form-btn" id="resetpw-btn">Cập nhật</button>
    </form>
</body>
<script>
    // Passwork
    $(document).ready(function () {
        $(".pass_show").append('<span class="ptxt"><i class="fas fa-eye"></i></span>');
    });
    $(document).on("click", ".pass_show .ptxt", function () {
        $(this).find("i").toggleClass('fa-eye');
        $(this).find("i").toggleClass('fa-eye-slash');
        $(this)
        .siblings('input')
        .attr("type", function (index, attr) {
            return attr == "password" ? "text" : "password";
        });
    });
</script>
<script>
    function checkinput_Pw_form(id_form) {
        $(id_form)
            .find("input[type=password]")
            .each(function () {
            $(this).focusout(function () {
                let err_span = $(this).siblings(`span[data-err-for="${this.id}"]`);
                let val = $(this).val();
                let form_group = $(this).parent();
                // Validate lowercase letters
                let lowerCaseLetters = /[a-z]/g;
                // Validate capital letters
                let upperCaseLetters = /[A-Z]/g;
                // Validate numbers
                var numbers = /[0-9]/g;
                // Validate length
                if (val.length > 0) {
                    if (
                        val.length > 7 &&
                        val.match(lowerCaseLetters) &&
                        val.match(upperCaseLetters) &&
                        val.match(numbers)
                    ) {
                        form_group.removeClass("err");
                        form_group.addClass("success");
                        $(err_span).html("");
                    } else {
                        form_group.addClass("err");
                        form_group.removeClass("success");
                        $(err_span).html(
                        "Mật khẩu phải có ít nhất một số và một chữ hoa và chữ thường, không dấu và ít nhất 8 ký tự trở lên."
                        );
                    }
                }
            });
        });
    };
    checkinput_Pw_form("#resetpassword-form");
    function validate() {
        var x= $("#password");
        var y= $("#retype_password");
        if(x.val()==y.val()) return;
        else alert("password not same");
    }
</script>
</html>

@if(ViewBag.SuccessUpdatePassword is not null)
{
    <script>
        setTimeout(() => {
            location.href = "/Admin/Login";
        }, 3000);
    </script>
}