<div class="banner">
    <div class="banner-container">
        <div class="banner-container-inner">
            <div class="owl-carousel banner-carousel">
                <div class="banner-img" style="background-image: url('/uploads/banner/banner1.jpg');">
                </div>
                <div class="banner-img" style="background-image: url('/uploads/banner/banner2.jpg');">
                </div>
                <div class="banner-img" style="background-image: url('/uploads/banner/banner3.jpg');">
                </div>
            </div>
        </div>
    </div>
</div>