<div class="news-events my-30">
    <div class="news-events-container container">
        <div class="news-events-container-inner">
            <div class="block-title-top">
                <div class="title-style-1 br-bottom">
                    <h3>Tin tức & sự kiện</h3>
                </div>
                <div class="btn-showall-wrap">
                    <a href="#" class="btn btn-showall">Xem tất cả</a>
                </div>
            </div>
            <div class="news-events-detail">
                <ul class="row news-events-list">
                    <li class="col-lg-4 col-md-6 news-events-item">
                        <div class="card card-new-style-1">
                            <div class="media-image zoom-on-hover opacity-on-hover">
                                <a href="#" class="card-link">
                                    <img src="~/uploads/news-events/n1.jpg" class="card-img-top card-new-img img-fluid"
                                        alt="..." />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted card-time">
                                    3/17/2023
                                </h6>
                                <a href="#" class="card-link card-link-text">
                                    <h5 class="card-title">
                                        ChatGPT xuất hiện vai trò người thầy lại
                                        càng được tôn lên
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6 news-events-item">
                        <div class="card card-new-style-1">
                            <div class="media-image zoom-on-hover opacity-on-hover">
                                <a href="#" class="card-link">
                                    <img src="~/uploads/news-events/n1.jpg" class="card-img-top card-new-img img-fluid"
                                        alt="..." />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted card-time">
                                    3/17/2023
                                </h6>
                                <a href="#" class="card-link card-link-text">
                                    <h5 class="card-title">
                                        ChatGPT xuất hiện vai trò người thầy lại
                                        càng được tôn lên
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6 news-events-item">
                        <div class="card card-new-style-1">
                            <div class="media-image zoom-on-hover opacity-on-hover">
                                <a href="#" class="card-link">
                                    <img src="~/uploads/news-events/n1.jpg" class="card-img-top card-new-img img-fluid"
                                        alt="..." />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted card-time">
                                    3/17/2023
                                </h6>
                                <a href="#" class="card-link card-link-text">
                                    <h5 class="card-title">
                                        ChatGPT xuất hiện vai trò người thầy lại
                                        càng được tôn lên
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>