<div class="lecturers">
    <div class="section-container row">
        <div class="section-container-content left col-6">
            <div class="section-header">
                <img class="section-icon" src="~/uploads/image/user.png" alt="Image">
                <h2 class="section-title">Về đội ngũ giảng viên</h2>
            </div>
            <div class="section-content">
                <p class="section-paraph">
                    Khoa có 60 giảng viên trực tiếp tham gia giảng dạy, trong đó có 05 Phó giáo sư, 20
                    Tiến sỹ
                    và 12 nghiên cứu sinh với năng lực công bố quốc tế tốt. Phần lớn các Tiến sỹ của
                    Khoa đều
                    tu nghiệp tại nước ngoài có nền khoa học tiên tiến về CNTT, các
                    giảng viên còn lại của Khoa đều có trình độ Thạc sỹ.
                </p>
            </div>
        </div>
        <div class="section-container-image col-6">
            <img class="section-image" src="~/uploads/image/giang-vien.png" alt="">
        </div>
    </div>
</div>
<div class="training">
    <div class="section-container row">
        <div class="section-container-image col-6">
            <img class="section-image" src="~/uploads/image/giang-vien.png" alt="">
        </div>
        <div class="section-container-content right col-6">
            <div class="section-header">
                <img class="section-icon" src="~/uploads/image/mortarboard.png" alt="Image">
                <h2 class="section-title">Về đào tạo</h2>
            </div>
            <div class="section-content">
                <p class="section-paraph">
                    Khoa có 5 ngành đào tạo bậc đại học là Công nghệ thông tin, Kỹ thuật phần mềm, Hệ
                    thống
                    thông tin, Trí tuệ nhân tạo, An ninh mạng; một chuyên ngành bậc sau đại học là Công
                    nghệ
                    thông tin. Khoa luôn cập nhật sách và giáo trình mới nhất, đang được
                    nhiều trường đại học uy tín trên thế giới sử dụng, các bài giảng đều
                    cung cấp trực tuyến cho sinh viên.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="cooperate">
    <div class="section-container row">
        <div class="section-container-content left col-6">
            <div class="section-header">
                <img class="section-icon" src="~/uploads/image/teamwork.png" alt="">
                <h2 class="section-title">Về NCKH và hợp tác quốc tế</h2>
            </div>
            <div class="section-content">
                <p class="section-paraph">
                    Khoa đạt được nhiều thành tích cao, các thầy
                    cô đã công bố trên 160 bài báo khoa học, trong đó chủ yếu là công bố
                    quốc tế và có 47 bài thuộc danh mục SCI/SCIE. Các thầy cô trong Khoa
                    chủ nhiệm và tham gia trên 10 đề tài cấp nhà nước và hàng chục đề
                    tài nghiên cứu khoa học cấp Bộ. Khoa có những hợp tác quốc tế và
                    giao lưu khoa học bền vững với các trường đại học uy tín của Mỹ
                    (Delta University, Arkansas University, Colorado State University),
                    Pháp (Paris 6, IRD, UMMISCO), Trung Quốc (ĐH Thâm Quyến, Viện công
                    nghệ tiên tiến Thâm Quyến, ĐH Khoa học và công nghệ phương Nam),
                    Nhật (JAIST, Nara Women's University), Úc (Griffith University,
                    Deakin University, Monash University) theo các chương trình trao đổi
                    hợp tác nghiên cứu, trao đổi giáo viên và sinh viên.
                </p>
            </div>
        </div>
        <div class="section-container-image col-6">
            <img src="~/uploads/image/hop-tac-doanh-nghiep.png" alt="Hợp tác doanh nghiệp">
        </div>
    </div>
</div>