<div class="notification my-30">
    <div class="notification-container container">
        <div class="notification-container-inner">
            <div class="block-title-top">
                <div class="title-style-1 br-bottom">
                    <h3>Thông báo</h3>
                </div>
                <div class="btn-showall-wrap">
                    <a href="#" class="btn btn-showall">Xem tất cả</a>
                </div>
            </div>
            <div class="notification-detail">
                <ul class="row notification-list">
                    <li class="notification-item col-md-6">
                        <div class="card card-notification-1">
                            <div class="row g-0 card-notification-inner">
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div class="card-time event-item-info type-start-date-month">
                                        <span class="date" style="font-size: 13px">01</span>
                                        <span class="month" style="font-size: 13px">02/2023</span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="" class="card-link card-link-text">
                                            <h6 class="card-title">
                                                Lịch tuần 12 khoa CNTT năm học 2018-2019
                                            </h6>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="" class="card-link card-link-text btn btn-showdetail">Xem
                                        chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="notification-item col-md-6">
                        <div class="card card-notification-1">
                            <div class="row g-0 card-notification-inner">
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div class="card-time event-item-info type-start-date-month">
                                        <span class="date" style="font-size: 13px">01</span>
                                        <span class="month" style="font-size: 13px">02/2023</span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="" class="card-link card-link-text">
                                            <h6 class="card-title">
                                                Lịch tuần 12 khoa CNTT năm học 2018-2019
                                            </h6>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="" class="card-link card-link-text btn btn-showdetail">Xem
                                        chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="notification-item col-md-6">
                        <div class="card card-notification-1">
                            <div class="row g-0 card-notification-inner">
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div class="card-time event-item-info type-start-date-month">
                                        <span class="date" style="font-size: 13px">01</span>
                                        <span class="month" style="font-size: 13px">02/2023</span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="" class="card-link card-link-text">
                                            <h6 class="card-title">
                                                Lịch tuần 12 khoa CNTT năm học 2018-2019
                                            </h6>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="" class="card-link card-link-text btn btn-showdetail">Xem
                                        chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="notification-item col-md-6">
                        <div class="card card-notification-1">
                            <div class="row g-0 card-notification-inner">
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div class="card-time event-item-info type-start-date-month">
                                        <span class="date" style="font-size: 13px">01</span>
                                        <span class="month" style="font-size: 13px">02/2023</span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="" class="card-link card-link-text">
                                            <h6 class="card-title">
                                                Lịch tuần 12 khoa CNTT năm học 2018-2019
                                            </h6>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="" class="card-link card-link-text btn btn-showdetail">Xem
                                        chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>