<div class="philosophy">
    <div class="philosophy-container container">
        <div class="philosophy-inner row">
            <div class="philosophy-item col-4" style="padding-left: 0;">
                <h3 class="philosophy-title">Triết lý đào tạo</h3>
                <p class="philosophy-paraph">
                    Trên tinh thần lấy sinh viên và giảng viên làm trung tâm của quá trình phát triển
                </p>
            </div>
            <div class="philosophy-item col-4">
                <h3 class="philosophy-title">Nguyên tắc đào tạo</h3>
                <p class="philosophy-paraph">
                    Nơi đào tạo uy tín với nền tảng cốt lõi về CNTT, phát triển phần mềm, hệ thống thông
                    tin,
                    trí tuệ nhân tạo và quản trị an ninh mạng
                </p>
            </div>
            <div class="philosophy-item col-4" style="padding-right: 0;">
                <h3 class="philosophy-title">Tiềm năng phát triển</h3>
                <p class="philosophy-paraph">
                    Khoa luôn mở rộng quy mô tuyển sinh cho cả đại học, sau đại học với trên 450 chỉ
                    tiêu
                    năm 2023 và tăng thêm theo mỗi năm
                </p>
            </div>
        </div>
    </div>
</div>