<div class="typical-st my-30">
    <div class="typical-st-container">
        <div class="typical-st-container-inner">
            <div class="container">
                <div class="block-title-top">
                    <div class="title-style-1 br-bottom">
                        <h3>Sinh viên & cựu sinh viên</h3>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="owl-carousel typical-st-carousel">
                    <div class="card card-style-1 row">
                        <div class="col-sm-7 card-left">
                            <div class="card-img">
                                <img src="~/uploads/st1.png" alt="450x450" />
                            </div>
                        </div>
                        <div class="col-sm-5 card-right">
                            <div class="card-detail">
                                <div class="card-detail-inner">
                                    <h3 class="st-name">Dương Văn Phụng</h3>
                                    <p class="st-note">
                                        là cựu sinh viên 58PM, <br />
                                        Khoa Công nghệ Thông tin,<br />
                                        Trường Đại học Thủy lợi
                                    </p>
                                    <div class="btn-showmore-wrap">
                                        <a href="#" class="btn btn-showmore">
                                            <i class="icon-showmore fas fa-arrow-circle-right">
                                            </i>Tìm hiểu thêm
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>