
@using CSE_website.Models
@model Position
@{
    ViewData["Title"] = "Thêm thông tin";
}


<div class="site-content">
        <div class="site-content-title">
            <h3>Thêm thông tin</h3>
        </div>
    <form asp-action="AddPosition">
        <div class="site-content-main">
     
            <div class="mb-3 row site-content-item">
                <label for="inputPositionId" class="col-sm-2 col-form-label">ID Chức vụ:</label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control" id="inputPositionId" placeholder="ID Chức vụ">
                </div>
            </div>
            <div class="mb-3 row site-content-item">
                <label for="inputName" class="col-sm-2 col-form-label">Tên chức vụ:<span class="star-maker">*</span></label>
                <div class="col-sm-10">
                    <input type="text"  asp-for="Name" class="form-control" id="inputName" placeholder="Tên chức vụ">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="site-content-footer">
            <div class="button-admin">
                <button type="submit" class="button-admin-link" >Lưu lại</button>
            </div>
            <div class="button-admin">
                <a asp-controller="Position" asp-action="Index" class="button-admin-link">Quay lại</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}