<!-- Modal -->
<div class="modal fade modal-delete modal-delete" id="confirm-modal" tabindex="-1" aria-labelledby="confirm-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-label">Xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-2" data-bs-dismiss="modal">Hủy</button>
                <button id="del-modal-btn" type="button" class="btn btn-danger" id="deleteBtn">Đồng ý</button>
            </div>
        </div>
    </div>
</div>