@if (TempData["ErrorMessage"] is not null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
else if(TempData["SuccessMessage"] is not null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

