<div class="box-sidebar-child contact-info-faculty">
    <div class="contact-info-container">
        <h3 class="contact-name">Khoa Công nghệ thông tin</h3>
        <p class="contact-address">
            <span>Nhà C1, Trường đại học Thủy Lợi<br>175 Tây Sơn, Đống Đa, Hà Nội</span>
        </p>
        <p class="contact-phone-email">
            <span>+(84)-024 3 5632211<br>Email: vpkcntt@tlu.edu.vn</span>
        </p>
        <p class="contact-time">
            <span>Thứ Hai - Thứ Sáu 8.00 A.M - 5.00 P.M</span>
        </p>
        <h3>Mạng xã hội</h3>
        <ul class="contact-info-social">
            <li><a href="https://www.facebook.com/cse.tlu.edu.vn"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-google"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-skype"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <a class="btn contact-info-btn" asp-controller="Contact" asp-action="Index">Liên hệ</a>
    </div>
</div>