<div class="box-sidebar-child sidebar-recent-post directory-menu">
    <div class="directory-menu-container">
        <h4 class="sidebar-recent-post-title title-style-2">Danh mục</h4>
        <div class="directory-menu-content">
            <ul class="list-directory">
                <li class="list-directory-item">
                    <a asp-controller="Post" asp-action="News">
                        <i class="fas fa-long-arrow-alt-right"></i>
                        Tin tức
                    </a>
                </li>
                <li class="list-directory-item">
                    <a asp-controller="Post" asp-action="Notification">
                        <i class="fas fa-long-arrow-alt-right"></i>
                        Thông báo
                    </a>
                </li>
                <li class="list-directory-item">
                    <a asp-controller="Post" asp-action="Activity">
                        <i class="fas fa-long-arrow-alt-right"></i>
                        Hoạt động sinh viên
                    </a>
                </li>
                <li class="list-directory-item">
                    <a asp-controller="EduProgram" asp-action="Index">
                        <i class="fas fa-long-arrow-alt-right"></i>
                        Đào tạo
                    </a>
                </li>
                <li class="list-directory-item">
                    <a asp-controller="Admissions" asp-action="Index">
                        <i class="fas fa-long-arrow-alt-right"></i>
                        Tuyển sinh
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>