<div class="div-search">
    <div class="div-search-container">
        <div class="div-search-container-inner">
            <form class="form-search">
                <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search" />
                <a asp-controller="Home" asp-action="Search" class="btn btn-search" type="submit">
                    <i class="icon-alt fas fa-search"></i>
                </a>
                <button class="btn btn-close">
                    <i class="icon-close far fa-times-circle"></i>
                </button>
            </form>
        </div>
    </div>
</div>