<div class="box-sidebar-child lecturers-search">
    <h3 class="lecturers-search-title title-style-2">Tìm kiếm</h3>
    <div class="lecturers-search-content">
        <select class="form-select lecturers-search-select">
            <option selected>-- Tất cả --</option>
            <option value="1">Công nghệ phần mềm</option>
            <option value="2">Hệ thống thông tin</option>
            <option value="3">Mạng và An toàn thông tin</option>
            <option value="4">Trí tuệ nhân tạo</option>
            <option value="5">Toán học</option>
            <option value="6">Tin học và Kỹ thuật tính toán</option>
        </select>
        <a class="btn btn-search button-primary button-text" href="#">Tìm kiếm</a>
    </div>
</div>