<div class="box-sidebar-child sidebar-recent-post">
    <div class="sidebar-recent-post-title title-style-2">
        <h4>Tags</h4>
    </div>
    <div class="sidebar-recent-post-content">
        <ul class="list-recent-post">
            <li class="recent-post-item"><a href="#">learning (3)</a></li>
            <li class="recent-post-item"><a href="#">học máy (3)</a></li>
            <li class="recent-post-item"><a href="#">học máy (3)</a></li>
            <li class="recent-post-item"><a href="#">trí tuệ nhân tạo (3)</a></li>
            <li class="recent-post-item"><a href="#">lập trình (3)</a></li>
        </ul>
    </div>
</div>