@{
    ViewData["Title"] = "Quản lý giảng viên";
}

@section Styles
    {
    <style>
        .inactive {
            background-color: #bdbdbd !important;
        }

        table.dataTable tbody tr {
            background-color: unset;
        }

        .alert {
            margin-bottom: unset;
        }
    </style>
}

<div class="site-content">
    <div class="site-content-title ">
        <h3>Danh sách Giảng viên</h3>
        <a asp-controller="Lecturer" asp-action="Create">
            <i class="fas fa-plus"></i>
            <span>Thêm mới</span>
        </a>
    </div>
    @{
        await Html.RenderPartialAsync("_MessageDisplayPartial");
    }

    <div class="site-content-main">
        <table id="lecturers-datatable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="table-title">ID</th>
                    <th class="table-title">Ảnh</th>
                    <th class="table-title">Tên</th>
                    <th class="table-title">Bộ môn</th>
                    <th class="table-title">Chức vụ</th>
                    <th class="table-title">Email</th>
                    <th class="table-title">Số điện thoại</th>
                    <th class="table-title">Chức năng</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
@{
    await Html.RenderPartialAsync("_ConfirmModalPartial");
}

@section Scripts
    {
    <script>
        $('#lecturers-datatable').DataTable({
            "ajax": "/Admin/Lecturer/GetAll",
            "columns": [
                {"data": "LecturerCode"},
                {
                    "data": "Image",
                    "render": function (data) {
                        return `<img src="/${data}" width="200" />`;
                    }   
                },
                { "data": "Name" },
                {
                    "data": "Department",
                    "render": function (data) {
                        return `<span>${data?.Name ?? ''}</span>`;
                    }
                },
                { "data": "Position" },
                { "data": "Email" },
                { "data": "Phone" },
                {
                    "data": "Id",
                    "render": function (data, type, row) {
                        var statusHtml = `<i class="fas fa-eye-slash class-eye-slash"></i>`;
                        if (row?.Status) statusHtml = `<i class="fas fa-eye class-eye"></i>`;

                        return `<div class="icon-row">
                                        <a class="color-green" href="/Admin/Lecturer/Unactive/${data}">${statusHtml}</a> 
                                         <a href="/Admin/Lecturer/Update/${data}"><i class="fas fa-edit class-edit"></i></a> 
                                          <a  class="delete-btn color-red" data-bs-toggle="modal" data-bs-target="#confirm-modal" href="/Admin/Lecturer/Delete/${data}">
                                               <i class="fas fa-trash-alt"></i> 
                                           </a>  
                                        </div>`;
                    }
                },
                // Hidden cols for getting data
                {
                    "data": "Status",
                    "visible": false,
                    "searchable": false,
                },
            ],
            "createdRow": function (row, data, dataIndex) {
                if (data?.Status == false) { // ở đây giả sử "Status" ở cột thứ 3 (index 2)
                    $(row).addClass('inactive');
                }
            },
            destroy: true,
            language: {
                search: "Tìm kiếm:",
                lengthMenu: "Hiển thị _MENU_ bản ghi trên trang",
                zeroRecords: "Không tìm thấy bản ghi phù hợp!",
                info: "Hiển thị từ _START_ đến _END_ của tổng số _TOTAL_ bản ghi",
                infoFiltered: " - được lọc từ _MAX_ bản ghi",
                infoEmpty: "Không có bản ghi để hiển thị ",
                paginate: {
                    previous: "Trước",
                    next: "Tiếp",
                },
            },
        });

        // Confirm modal handle
        $('#confirm-modal').on('show.bs.modal', function (event) {
            $(this).find('#del-modal-btn').off('click').on('click', function () {
                location.href = $(event.relatedTarget).prop("href");
            });
        });
    </script>
}