@using CSE_website
@model AccountViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<div class="site-content">
    <div class="site-content-title">
        <h3>Đổi mật khẩu</h3>
    </div>

    <form method="post">
        <div class="site-content-main">
            <div class="mb-3 row site-content-item" hidden>
                <label for="inputAccId" class="col-sm-2 col-form-label">ID Tài khoản:</label>
                <div class="col-sm-10">
                    <input type="text" readonly disabled class="form-control"
                           id="inputAccId" asp-for="Id">
                </div>
            </div>
            <div class="mb-3 row site-content-item">
                <label for="inputCurrPass" class="col-sm-2 col-form-label">Mật khẩu hiện tại:<span class="star-maker">*</span></label>
                <div class="col-sm-10">
                    <input type="password" asp-for="Password" class="form-control" id="inputCurrPass">
                </div>
            </div>
            <div class="mb-3 row site-content-item">
                <label for="inputNewPass" class="col-sm-2 col-form-label">Nhập mật khẩu mới:<span class="star-maker">*</span></label>
                <div class="col-sm-10">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="inputNewPass">
                </div>
            </div>
            <div class="mb-3 row site-content-item">
                <label for="inputReNewPass" class="col-sm-2 col-form-label">Nhập lại mật khẩu mới:<span class="star-maker">*</span></label>
                <div class="col-sm-10">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="inputReNewPass">
                </div>
            </div>
        </div>
        <div class="site-content-footer">
            <div class="button-admin">
                <button type="submit" asp-controller="Account" asp-action="ChangePassword" class="button-admin-link">Lưu lại</button>
            </div>
            <div class="button-admin">
                <a asp-controller="Lectu" asp-action="Index" class="button-admin-link">Quay lại</a>
            </div>
        </div>
    </form>
</div>

